#box1{border: 1px solid;
background-color: blue;
height: 300px;
width: 300px;
position:sticky;top: 0px;
/* left: 100px; */
fnglkhl
}


#box2{border: 1px solid;
    background-color: rgb(0, 255, 89);
    height: 200px;
    width: 200px;
    position: static;}